auto-save-list
*~
*.pyc
*.aux
*.log
*.pyg
*.orig
*.toc
*.bbl
*.blg
*.lof
*.out
*__flymake.toc
org-clock-save.el
*.class
dhist
*.nav
*.snm
abbrev_defs

_region_
auto
tramp
dhist
ac-comphist.dat
emacs-stuff/.emacs.d/el-get
emacs-stuff/.emacs.d/elpa
emacs-stuff/.emacs.d/request
emacs-stuff/.emacs.d/smex-items
emacs-stuff/.emacs.d/srecode-map.el
ipython-stuff/ipython/profile_default/security
ipython-stuff/matplotlib/fontList.cache
ipython-stuff/matplotlib/tex.cache
ipython-stuff/ipython/profile_default/static
