*.aux
*.bbl
*.blg
*.class
*.lof
*.log
*.nav
*.orig
*.out
*.pyc
*.pyg
*.snm
*.toc
*__flymake.toc
*~
_region_
abbrev_defs
ac-comphist.dat
auto
auto-save-list
dhist
dhist
emacs-stuff/.emacs.d/el-get
emacs-stuff/.emacs.d/elpa
emacs-stuff/.emacs.d/ido.last
emacs-stuff/.emacs.d/request
emacs-stuff/.emacs.d/smex-items
emacs-stuff/.emacs.d/srecode-map.el
ipython-stuff/ipython/profile_default/security
ipython-stuff/ipython/profile_default/static
ipython-stuff/matplotlib/fontList.cache
ipython-stuff/matplotlib/tex.cache
konsole-stuff/config/konsolerc
org-clock-save.el
tramp
