[user]
	name = Paul Ozog
	email = pjozog@gmail.com

[color]
	ui = auto

[diff]
	tool = meld

[init]
	templatedir = ~/.git-template

[core]
    excludesfile = ~/.gitignore

[push]
    default = matching
